body {
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  background-color: white;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:20px;

}
a {
  color: white;
  text-decoration: none;
}
.header{
  background-color: black;
  display: flex;
}

.footer {
  margin-top: 500px;
  height: 42px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}
.logo {
  height: 100px;
  width: 100px;
}
